<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="exercise-reviewer-eclipse.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="exercise-reviewer-eclipse.commands.category"
            name="Select Course"
            id="exercise-reviewer-eclipse.commands.SettingAction">
      </command>
      <command
            categoryId="exercise-reviewer-eclipse.commands.category"
            name="Help"
            id="exercise-reviewer-eclipse.commands.HelpAction">
      </command>
       <command
            categoryId="exercise-reviewer-eclipse.commands.category"
            name="Configure Settings"
            id="exercise-reviewer-eclipse.commands.ConfigureAction">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.ssehub.teaching.exercise_reviewer.eclipse.actions.SettingAction"
            commandId="exercise-reviewer-eclipse.commands.SettingAction">
      </handler>
       <handler
            class="net.ssehub.teaching.exercise_reviewer.eclipse.actions.HelpAction"
            commandId="exercise-reviewer-eclipse.commands.HelpAction">
      </handler>
      <handler
            class="net.ssehub.teaching.exercise_reviewer.eclipse.actions.ConfigureAction"
            commandId="exercise-reviewer-eclipse.commands.ConfigureAction">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="exercise-reviewer-eclipse.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="exercise-reviewer-eclipse.menus.settings"
               label="Exercises Reviewer Settings"
               mnemonic="M">
            <command
                  commandId="exercise-reviewer-eclipse.commands.SettingAction"
                  id="exercise-reviewer-eclipse.menus.SettingAction"
                  mnemonic="S">
            </command>
             <command
                  commandId="exercise-reviewer-eclipse.commands.HelpAction"
                  id="exercise-reviewer-eclipse.menus.HelpAction"
                  mnemonic="H">
            </command>
             <command
                  commandId="exercise-reviewer-eclipse.commands.ConfigureAction"
                  id="exercise-reviewer-eclipse.menus.ConfigureAction"
                  mnemonic="C">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.views">
        <view id="net.ssehub.teaching.exercise_reviewer.eclipse.views.reviewview"
             name="Review View"
          class="net.ssehub.teaching.exercise_reviewer.eclipse.views.ReviewView"
          icon="icons\logo.png"/>
   </extension>
   
   <extension point="org.eclipse.ui.views">
        <view id="net.ssehub.teaching.exercise_reviewer.eclipse.views.allreviewablesubmissionsview"
             name="All reviewable submission View"
          class="net.ssehub.teaching.exercise_reviewer.eclipse.views.AllReviewableSubmissionsView"
          icon="icons\logo.png"/>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions"> 
    <perspectiveExtension 
        targetID="org.eclipse.ui.resourcePerspective"> 
        <view id="net.ssehub.teaching.exercise_reviewer.eclipse.views.reviewview" 
            relative="org.eclipse.ui.views.ProgressView" 
            relationship="left" 
            ratio="0.50"/> 
    </perspectiveExtension> 
</extension> 

    <extension point="org.eclipse.ui.perspectiveExtensions"> 
        <perspectiveExtension 
            targetID="org.eclipse.ui.resourcePerspective"> 
            <view id="net.ssehub.teaching.exercise_reviewer.eclipse.views.allreviewablesubmissionsview" 
                relative="org.eclipse.ui.views.PackageView" 
                relationship="left" 
                ratio="0.50"/> 
        </perspectiveExtension> 
    </extension> 
    
    <extension point="org.eclipse.ui.startup">
   <startup class="net.ssehub.teaching.exercise_reviewer.eclipse.actions.StartUp"/>
    </extension>
    
     <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="net.ssehub.teaching.exercise_reviewer.eclipse.preferences.PreferencePage"
             id="net.ssehub.teaching.exercise_reviewer.eclipse.preferences.PreferencePage"
             name="Exercise Reviewer">
       </page>
    </extension>
   
 

</plugin>
